.header {
  width: 100%;
  font-size: 0;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(84,84,84, .7);
}

@media screen and (min-width: 581px) and (max-width: 880px) {
  .header {
    max-width: 581px;
  }
}
